
mat-nav-list{
    
    a{
        left: 5%;
        height: 50%;
        width: 90%;
        border-radius: 10px;
        font-family: 'Lato', sans-serif;
        h5{
            margin-left: 20%;

        }
        mat-icon{
            margin-left: 15%;
            font-size: 22px;
        }
    }
}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 40%;
}

a:hover{
    color: rgb(28, 71, 245);
}








