// mat-toolbar{
//     height: 10%;
//     display: flex;
//     justify-content: space-around;
// }

a{
    span{
        font-size: 10px;
    }
    mat-icon{
        margin-top: 5px;
        font-size: 18px;
    }
}
.spacer-sidenav{
    flex: 0.3 auto;
}
mat-toolbar{
    display: flex;
    justify-content: center;
    height: 10%;
}

