
mat-nav-list{
    
    a{
        left: 10%;
        height: 50%;
        width: 80%;
        border-radius: 10px;
        font-family: 'Lato', sans-serif;
        h6{
            margin: 0;
            margin-left: 15px;
           
           
        }
        mat-icon{
            font-size: 14px;
            // margin-left: 5%;
            margin-top: 14%;
        }
    }
}
a:hover{
    color: rgb(28, 71, 245);
}
.sub-header{
    font-size: 10px;
}





