table {
    width: 100%;
 
  }

  .mat-form-field {
    padding: 0;
    font-size: 14px;
    width: 90%;
  }
  
  button{
    left: 1%;
    height: 50px;

  }

  a{
    margin: 5px;
  }
  // a:hover{
  //   cursor: pointer;
  // }

  .flex-input{
    display: flex;
    align-items: center;
  }

  tr.mat-row:hover{
    cursor: pointer;
    background-color: rgb(210, 210, 210);
  }
  .flex-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    mat-spinner {
      // margin-top: 1%;
      // margin-bottom: 19.5%;
    }
  }