
mat-toolbar{
h1{
  font-size: 17px;
}
    height: 10%;
    .flex{
      display: flex;
      justify-content: baseline;
    }
    .spacer{
      flex: 1 1 auto;
    }
}
mat-nav-list{
  padding: 0;
  a{
    margin-left: 15px;
  }
}
  mat-icon{
    font-size: 15px;
  }