img{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container-card{
    z-index: 2;
    position: relative;
    width: 300px;
    height: 80vh;
    background-color: aliceblue;
    margin-left: 50vw;
    top: 10vh;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media screen and (max-width: 600px) {
    .container-card{
        width: 80%;
        margin-left: 10%;
        height: 60vh;
    }
}